*{
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(139, 109, 39);
}

#menu {
    width:35px;
    height:30px;
    margin: 30 px 0 20px 20px;
    padding:10px;
    cursor:pointer;    
}

label{
    color: #fff;
    padding-left: 8px;
    font-size: 5vh;
   
    
}
p{
    flex-wrap: wrap;
    padding-left: 10px;
}

.fa-pisca {
    font-size: 30px;
    color: red;
    opacity: 1;
}
@keyframes anima {
    to {
        opacity: 0;
    }
}

.bar {
    height:5px;
    width: 100px;
    background-color:white;
    display:block;
    border-radius:5px;
    transition:0.3s ease;
}
#bar1{
    transform: translateY(-4px);    
}
#bar3{
    transform: translateY(4px); 
}
.nav li a {
    color:#fff;
    text-decoration:none;
}
.nav li a:hover{
    font-weight: bold;
}
.nav li{
    list-style: none;
    padding: 8px 0;
}
.nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}
.menu-bg, #menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}
.menu-bg{
    z-index: 1;
    width:0;
    height:0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #e94498, #b81568);
    border-radius: 50%;
    transition:0.3s ease;
}
.menu-bar{
    z-index: 2;
}
.change .bg{
    width:550px;
    height:540px;
    transform: translate(-60%, -30%)
}
.change .bar{
    background-color: white;
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2{
    opacity: 0 ;
}
.change{
    display:block;
}

.section-container{    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section-one{
    background-image: url(./assets/background.jpg);    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-section-two{
    background-image: url(./assets/background2.jpg);    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    max-width: 500px;  

}

#products{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    margin: 40px;
    
    
}
.product{
    width: 40vw;
    height: 30vh;
    padding: 10px;
    margin: 5vh;
    
}
.product:hover{
    transform: scale(1.2)
}
#million img, #jadore img, #ch img{
    width: 40%;
    
    
}
.million{      
    left: 100px;
    top: 100px;
}

form{
    display: grid;
}
form label{
    color: #000;
    font-size:20px;
    text-align: center;
}

input{
    width: 250px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    border-radius:5px;
    background: #fff;
    color:#000;
}

/*.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #22a6b3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes rotate {
    to { 
        transform: rotate(360deg); 
    }
}*/

footer{
    height: 150px;
    padding: 25px;
    text-align: center;
    background-color: rgb(139, 109, 39);
    color:#fff;
}

footer a{
    font-size:30px;
    color: white;
}

footer h3:hover{
    color:darkorange;
}







